*{
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}
/* banner section styles */

.banner-img{
    height: 635px;
    width: 800px;
    padding-right: 50px;
    padding-top: 50px;
}
.banner{
    background-color: #ffc2d1;
    display: flex;
    justify-content: space-between;
}
.banner-text{
    padding-left: 200px;
    padding-top: 160px;
}
.banner-title{

    color: black;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
.banner-description{
    color: rgb(106, 106, 106);
    margin-bottom: 25px;
    font-size: 15px;
}
.btn{
    padding: 15px 38px;
    color: aliceblue;
    background-color: #fb6f92;
    border: none;
    border-radius: 5px;
}