*{
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}
/* banner section styles */

.banner-img{
    height: 635px;
    width: 800px;
    padding-right: 50px;
    padding-top: 50px;
}
.banner{
    background-color: #ffc2d1;
    display: flex;
    justify-content: space-between;
}
.banner-text{
    padding-left: 200px;
    padding-top: 160px;
}
.banner-title{

    color: black;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
.banner-description{
    color: rgb(106, 106, 106);
    margin-bottom: 25px;
    font-size: 15px;
}
.btn{
    padding: 15px 38px;
    color: aliceblue;
    background-color: #fb6f92;
    border: none;
    border-radius: 5px;
}

/* featured section style */

.featured-text{
    text-align: center;
    margin-top: 150px;
}
.title-primary{
    color: black;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 18px;
}
.featured-desc{
    color: rgb(106, 106, 106);
    font-size: 15px;
}

/* featured image styles */
.featured-flower-img{
    display: flex;
    justify-content: space-around;
    margin: 40px 200px 120px 200px;
    text-align: center;
}
.pink{
    height: 300px;
    width: 250px;
    background-color: #ffb3c6;
    height: 380px;
    width: 220px;
    padding: 80px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;
}
.flower-desc{
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
.red{
    height: 70px;
    width: 70px;
    background-color: #90e0ef;
    height: 380px;
    width: 220px;
    padding: 80px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;
}
.yellow{
    background-color: #76c893;
    height: 380px;
    width: 220px;
    padding: 80px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;

}

